@use "sass:color";
@use "../config";
@use "../util/functions/spacing";

// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------

.footer {
  background-color: config.$primary-dark;
  color: config.$white;

  strong {
    font-weight: config.$base-bold-weight;
  }
  
  p {
    color: color.adjust(config.$base-font-color, $lightness: 40%);
  }

  p, ul {
    margin-bottom: 0;
  }

  a {
    color: config.$white;
    transition: all config.$base-time config.$base-ease;

    &:hover,
    &:focus {
      color: config.$gold; 
    }
  }
}

.footer-info {
  text-align: center;
  border-bottom: 1px solid config.$primary-light;
  padding: spacing.space(3) 0;
}

.footer-social {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: spacing.space(2) 0;

  li {
    font-size: 2em;
    float: left;
    margin: 0;

    img {
      vertical-align: -0.125em;
    }

    &:not(:first-child) {
      margin: 0 0 0 0.5em;
    }
  }
}