@use "../base/breakpoints";
@use "../config";
@use "../util/functions/spacing";
@use "../util/mixins/type";
@use "../util/mixins/z-index";

// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

.header {
  position: absolute;
  top: 0;
  @include z-index.z-index(header);
  width: 100%;
  color: config.$white;

  a, .bm-burger-button {
    transition: all config.$base-time config.$base-ease;

    &:hover,
    &:focus {
      color: config.$gold; 
    }
  }
}

.header-logo {
  padding: spacing.space(2) 0;
  float: left;
  font-family: config.$logo-font-family;
  @include type.typesize(1);
  color: config.$white;
  font-weight: config.$black-bold-weight;
  //text-transform: uppercase;
  letter-spacing: -0.04em;

  @include breakpoints.bp(small) {
    @include type.typesize(2);
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.menu {
  padding: spacing.space(2) 0;
  @include type.typesize(1);
  float: right;
}