@use "sass:map";
@use "../base/breakpoints";
@use "../config";
@use "../util/functions/spacing";
@use "../util/mixins/clearfix";

// ----------------------------------------------------------------------------
// General Layout
// ----------------------------------------------------------------------------

.main {
  padding: spacing.space(2) 0 spacing.space(4);
  //min-height: calc(100vh - 380px);
}

.content {
  padding-bottom: spacing.space(6);
  overflow-y: scroll;
  
  @include breakpoints.bp(medium) {
    /*@include span(9);*/
    padding-left: spacing.space(9);
  }
}

.body {
  margin: spacing.space(4) 0 0;

  a {
    font-weight: config.$extra-bold-weight;
  
    &:hover {
      text-decoration: underline solid config.$pill-orange 2px;
    }
  }
}

.complimentary {
  background: config.$card-bg-hover;
}

.contain {
  height: 100%;
  margin: 0 auto;
  padding: 0 spacing.space(2);
  max-width: 100%;
  @include clearfix.clearfix;

  @include breakpoints.bp(small) {
    width: (map.get(breakpoints.$breakpoints, small));
  }

  @include breakpoints.bp(medium) {
    width: (map.get(breakpoints.$breakpoints, medium));
  }

  @include breakpoints.bp(large) {
    width: (map.get(breakpoints.$breakpoints, large));
  }
}