@use "../config";
@use "../util/mixins/invisible";

// ----------------------------------------------------------------------------
// Global
// ----------------------------------------------------------------------------


// Default Body Styles
// -------------------

body {
  background-color: config.$body-bg;
}


// Images
// ------

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}


// Removes Dotted Border
// ---------------------

:focus {
  outline: 0;
}

.element-invisible {
  @include invisible.element-invisible;
}
