@use "../base/breakpoints";
@use "../util/functions/spacing";

.wrapper {
  margin-top: spacing.space(3);

  @include breakpoints.bp(small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: spacing.space(3);
    margin-top: spacing.space(4);
    
    li {
      margin-bottom: 0;
    }
  }
  
  @include breakpoints.bp(large) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: spacing.space(4);
    justify-items: stretch;
    margin-top: spacing.space(5);

    li {
      margin-bottom: 0;
    }
  }
}

.wrapper.extended{
  @include breakpoints.bp(small) {
    grid-template-columns: 1fr;
  }
}

