@use "sass:color";
@use "../base/breakpoints";
@use "../config";
@use "../util/functions/spacing";
@use "../util/mixins/type";

// ----------------------------------------------------------------------------
// Type
// ----------------------------------------------------------------------------

// Global Type
// -----------

html {
  color: config.$base-font-color;
  line-height: config.$base-line-height;
  font-family: config.$base-font-family;
  font-size: config.$base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  margin-bottom: spacing.space(2);

  &.lead {
    @include type.typesize(2);
    font-weight: config.$base-bold-weight;
    margin: spacing.space(1) 0;
    text-align: center;
    line-height: 1.1em;
    color: config.$dark-font-color;

    @include breakpoints.bp(small) {
      margin: spacing.space(3) 0;
    }
  }

  &.description {
    font-size: 1.1em;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.3em;
  }
}

em,
i {
  font-style: italic;
  line-height: inherit;
}


strong,
b {
  font-weight: config.$base-bold-weight;
}


small,
.small {
  @include type.typesize(-1);
}


// Headings
// --------

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: config.$header-font-family;
  font-weight: config.$base-bold-weight;
}

h1,
.h1 {
  @include type.typesize(2);
  font-weight: config.$base-bold-weight;
  margin-bottom: spacing.space(2);
  line-height: config.$leading * 2;
  //text-transform: uppercase;

  @include breakpoints.bp(small) {
    @include type.typesize(4);
  }
}

h2,
.h2 {
  @include type.typesize(2);
  margin-bottom: spacing.space(2);
  line-height: 2rem;
}

h3,
.h3 {
  @include type.typesize(0);
  //text-transform: uppercase;
  margin-bottom: spacing.space(1);
  line-height: config.$leading;
}

h4,
.h4 {
  @include type.typesize(0);
  margin-bottom: spacing.space(2);
  line-height: config.$leading;
}

h5,
.h5 {
  @include type.typesize(-1);
  margin-bottom: spacing.space(1);
  line-height: config.$leading;
}


// Links
// -----

a {
  color: config.$base-link-color;
  cursor: pointer;
  text-decoration: none;
  transition: color config.$base-time config.$base-ease;

  &:hover,
  &:focus {
    color: config.$base-link-hover;
  }

  img {
    border: 0;
  }

}

// Horizontal Rule
// ---------------

hr {
  height: 1px;
  background-color: color.adjust(config.$black, $lightness: 80%);
  border: 0;
  margin: spacing.space(2) 0;
}


// Lists
// ------

$_list-side-margin: 1.25rem !default;
$_list-line-height: inherit !default;

ul,
ol,
dl {
  list-style-position: inside;
  line-height: $_list-line-height;
  margin-bottom: spacing.space(2);

  li {
    margin-bottom: spacing.space(3);
  }
}

ul,
ol {
  list-style-type: disc;
  margin-left: 0;
}

ul.list{
  list-style-position: inside;

  li {
    list-style-type: disc;
    margin-left: spacing.space(3);
    margin-bottom: spacing.space(0.5);
  }
}

// Nowrap
// -----------

.nowrap {
  white-space: nowrap;
}

// Blockquotes
// -----------

blockquote {
  @include type.typesize(1);
  line-height: config.$base-line-height;
  margin: 0 0 spacing.spacing(1);
  padding: spacing.space(1) spacing.space(2);
  font-weight: 300;
  border-left: 5px solid color.adjust(config.$black, $lightness: 95%);
}
