@use "../config";
@use "../util/functions/spacing";

// ----------------------------------------------------------------------------
// Breadcrumbs
// ----------------------------------------------------------------------------

.breadcrumbs {
  padding: spacing.space(1) 0;
  width: 100%;
  background-image: linear-gradient(90deg,  #004A94 0%, #003366 100%);
  font-size: 0.9em;
  //text-transform: uppercase;
  color: config.$cyan;
  
  a {
    display: inline-block;
    color: config.$white;
    transition: all config.$base-time config.$base-ease;
    font-weight: config.$base-bold-weight;

    &:hover,
    &:focus {
      color: config.$gold; 
    }
  }

  .crumb-active {
    color: config.$cyan;
  }

  .crumb {
    padding: 3px 10px;

    &.crumb-path {
      padding: 3px 0;
    }
  }
}