@use "../config";
@use "../util/functions/spacing";
@use "../util/mixins/type";

// ----------------------------------------------------------------------------
// Buttons
// ----------------------------------------------------------------------------

.home-button {
  display: block;
  cursor: pointer;
  user-select: none;
  transition: all config.$base-time config.$base-ease;
  text-decoration: none;
  width: 100%;
  color: config.$primary-light;
  background: config.$bg-light;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  padding: spacing.space(4) spacing.space(2);
  max-width: 420px;
  margin: 0 auto;

  &:active,
  &:hover,
  &:focus {
    background: config.$card-bg-hover;
    color: config.$primary-light;

    .svg-inline--fa {
      color: config.$gold;
      text-decoration: none;
      outline: 0;
    }
  }

  .svg-inline--fa {
    height: 1em;
    color: config.$light-font-color;
    transition: all config.$base-time config.$base-ease; 
    margin-bottom: spacing.space(2);
  }

h2 {
  margin-bottom: spacing.space(0.5);
}

  p {
    font-size: 1em;
    margin: 0;
    color: config.$base-font-color;
  }
}

.home-button-compact {
  @include type.typesize(1);
  display: inline-flex;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  user-select: none;
  //border-top: $unit solid $primary-light;
  transition: all config.$base-time config.$base-ease;
  text-decoration: none;
  width: 100%;
  color: config.$primary-light;
  background: config.$bg-light;
  //background: $white;
  height: 100%;
  border-radius: 20px;

  &:active,
  &:hover,
  &:focus {
    background: config.$card-bg-hover;
    color: config.$primary-light;

    .svg-inline--fa {
      color: config.$gold;
      text-decoration: none;
      outline: 0;
    }
  }

  div {
    margin: spacing.space(3) spacing.space(2) spacing.space(3) 0;
  }

  .svg-inline--fa {
    display:flex; 
    align-items:center;
    margin: spacing.space(3.6) spacing.space(1.4) spacing.space(2.5) spacing.space(2);
    height: 1em;
    color: config.$light-font-color;
    transition: all config.$base-time config.$base-ease;
    
  }

  h2 {
    @include type.typesize(1);
    margin: 0;
  }

  p {
    display: block;
    font-size: 0.6em;
    margin: 0;
    color: config.$base-font-color;
  }
}

