@use "../base/breakpoints";
@use "../config";
@use "../util/functions/spacing";

.card{
  position: relative;
  background: config.$bg-light;
  min-width: 270px;
  max-width: 420px;
  height: 100%;
  transition: all 0.3s linear 0s;
  overflow: auto;
  border-radius: 20px;
  margin: 0 auto;

  a {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden; /*edge*/

    &:hover {
      background: config.$card-bg-hover;
  
      .card-context {
        background: config.$gold;
      }
  
      .card-image-outer-wrapper {
        opacity: .3;
      }
  
      .card-image {
        transform: scale(1.1);
      }
  
      .card-context--feedback {
        opacity: 1;
      }
    }
  }
  
  h2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .card-context {
    position: relative;
    border-bottom: config.$unit solid config.$primary-light;
    background: rgba(config.$primary-light, 0.1);
  }

  .card-image-outer-wrapper {
    overflow: hidden;
  }

  .card-image {
    transition: all 0.3s linear 0s;
  }
/*
  .gatsby-image-wrapper {
    display: block !important;
  }
*/
  .card-context--feedback {
    display: flex;
    position: absolute;
    top: 0;
    bottom: spacing.space(4);
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;

    .svg-inline--fa {
      display: block;
      color: config.$primary-light;
    }
  }

  .card-lens {
    margin: spacing.space(3);
    margin-bottom: spacing.space(4);
    color: config.$primary-light;
    overflow: auto;

    p {
      color: config.$base-font-color;
    }

    .svg-inline--fa {
      color: config.$primary-light;
      position: absolute;
      bottom: spacing.space(2);
      right: spacing.space(3);
      line-height: 0.8rem;
    }
  }

  .pills {
    position: absolute;
    bottom: spacing.space(1);
    left: spacing.space(3);
    margin: 0;
    
    li {
      float: left;
      margin: 0 spacing.space(1) spacing.space(1) 0;
    }
  }

  .pill {
    margin: 0;
    background: config.$primary-light;
    border-radius: 1em;
    padding: 0.1em 1em;
    color: config.$white;
    font-weight: config.$base-bold-weight;

    &.green {
      background: config.$pill-green;
    }
  
    &.orange {
      background: config.$pill-orange;
    }
  
    &.red {
      background: config.$pill-red;
    }
  
    &.purple {
      background: config.$pill-purple;
    }
  
    &.blue {
      background: config.$pill-blue;
    }

    &.black {
      background: config.$pill-black;
    }

    &.grey {
      background: config.$pill-grey;
      color: config.$primary-dark;
    }
  }
}

.card--extended {

  @include breakpoints.bp(small) {
    max-width: 100%;
  }

  .card-lens {
    padding-bottom: spacing.space(3);
    margin-bottom: 0;

    @include breakpoints.bp(small) {
      padding-bottom: spacing.space(1);
    }
  }

  .card-context {
    @include breakpoints.bp(small) {
      border-right: config.$unit solid config.$primary-light;
      border-bottom: none;
      min-width: 150px;
    
      .card-image-outer-wrapper {
        display: flex;
        height: 100%;
      }

      img {
        object-fit: cover;
      }
    }
  }

  .card-context--feedback {
    bottom: 0;
  }


  > a {
    height: auto;

    @include breakpoints.bp(small) {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-gap: spacing.space(2);
    }
  }
}

.card-details {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: spacing.space(1);
  justify-items: stretch;
  padding: spacing.space(1) spacing.space(3);
  background-color: config.$card-bg-hover;

  @include breakpoints.bp(small) {
    grid-gap: spacing.space(2);
  }

  .category {
    background: config.$primary-light;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: config.$base-bold-weight;

    &.green {
      background: rgba(config.$pill-green, 0.2);
    }
  
    &.orange {
      background: rgba(config.$pill-orange, 0.2);
    }
  
    &.red {
      background: rgba(config.$pill-red, 0.2);
    }

    &.grey {
      background: config.$pill-grey;
    }

    &.referral {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: config.$pill-grey;
      border: 3px config.$pill-orange solid;
    }

    a {
      height: auto;

      &:hover {
        background: none;
        text-decoration: underline solid config.$pill-orange 2px;
      }
    }
  }
}

.card-details--3 {
  @include breakpoints.bp(small) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-details--4 {
  @include breakpoints.bp(small) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-details--5 {
  @include breakpoints.bp(small) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.card-details--6 {
  @include breakpoints.bp(small) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.card-detail {
  display: grid;
  grid-template-rows: min-content 1fr;
  
  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

