@use "../config";

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 1.2em !important;
  width: 1.2em !important;
  margin: 1em 1em 0 0;
  color: config.$dark-font-color;
}

.bm-menu-wrap {
  position: absolute;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: config.$card-bg;
  padding: 2.5em 1.5em;
  font-size: 1em;
  font-weight: config.$extra-bold-weight;

  svg {
    width: 1.2em !important;
    text-align: center;
  }
}

.menu-link {
  padding: 0.5em 0 0.5em 0;
  border-bottom: 1px solid config.$gold;
}

.bm-overlay {
  top: 0;
  left: 0;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}
